.about{
    &.title{
        margin: 120px 0;
    }
    padding-left: 120px;
    text-align: start;
    margin: 0;
    align-items: start;
    a{
        text-decoration: underline;
    }
    h1{
        text-align: start;
        margin: 20px 0;
    }
    .description{
        font-size: normal;
        text-align: start;
    }
}