.form {
  padding: 21px;
  height: 100vh;
  max-height: 100%;
  &__logo {
    margin-bottom: 102px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
  }
  &__content {
    padding-left: 86px;
    &-title {
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 45px;
      color: #000000;
    }
    &-text {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
    }
  }
  &__btn {
    background: #0c21c1;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #ffffff;
    width: 429px;
    height: 53px;
    margin-top: 55px;
  }
  &__label {
      &-text {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 20px;
          color: #999999;
        }
      &-field{
        padding-bottom: 3px;
        width: 429px;
        margin-top: 11px;
        display: flex;
        column-gap: 10px;
        align-items: center;
        border-bottom: 1px solid;
    }
    &-input{
        width: 100%;
        outline: none;
        bottom: none;
        border: none;
    }
  }
}
