@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url("./hitSale.scss");
@import url("./header.scss");
@import url("./footer.scss");
@import url("./banner.scss");
@import url("./card.scss");
@import url("./form.scss");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    resize: none;
    list-style-type: none;
    text-decoration: none;
    transition: .3s;
}
body, html, #root{
    height: 100%;
}
button{
    cursor: pointer;
    border: none;
}

.container{
    width: 100%;
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;   
}
